body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #325656;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;  
}

.cardContainer {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    border: 2px solid black;
    height: 16rem;
    width: 16rem;
    background-color: beige;
    
}

