body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #325656;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;  
}

.cardContainer {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 50px;
    height: 16rem;
    width: 16rem;
    background-color: beige;
    box-shadow: 0 8px 16px rgba(0, 0, 53, 0.2);
}

.card:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 53, 0.4);
}

.card:active {
  box-shadow: inset 0 4px 8px rgba(0, 0, 53, 0.2);
  transform: translateY(2px);
}

.gameOver {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid black;
  border-radius: 20px;
  background-color: brown;
  padding: 2rem 3rem;
}

.loss {
  background-color: brown;
}

.win {
  background-color: lightgreen;
}

.gameOverShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameOverButton {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
}

.gameOverButton:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 53, 0.2);
}

.gameOverButton:active {
    transform: translateY(2px);
}